<div class="form-row">
	<%= col((f.input :cpf_financeiro, placeholder: '___.___.___-__', maxlength: 14, input_html: { data: { controller: 'cpf', action: '
		change->cpf#valida_cpf', target: 'cpf.cpf' }}), '12', '3', '2' ) %>


		<%= col((f.input :nome_financeiro), '12', '6', '6' ) %>
	</div>

<div data-controller='cep'>
	<div class="form-row">
		<%= col((f.input :cep_financeiro, placeholder: '__.___-__', maxlength: 10, input_html: { data: { action: 'change->cep#search_cep', target: 'cep.cep' }}), '12', '12', '3') %>

		<%= col((f.input :rua_financeiro, placeholder: 'Logradouro', input_html: { data: {target: 'cep.logradouro'} }), '12', '12', '7') %>
		<%= col((f.input :numero_financeiro, placeholder: '____'), '12', '12', '2') %>
	</div>
	<div class="form-row">
		<%= col((f.input :cidade_financeiro, placeholder: 'Cidade', input_html: { data: {target: 'cep.localidade'} }), '12', '12', '4') %>
		<%= col((f.input :uf_financeiro, placeholder: 'UF', input_html: { data: {target: 'cep.uf'} }), '12', '12', '2') %>
		<%= col((f.input :bairro_financeiro, placeholder: 'Bairro', input_html: { data: {target: 'cep.bairro'} }), '12', '12', '3') %>
		<%= col((f.input :complemento_financeiro, placeholder: 'Complemento'), '12', '12', '3') %>
	</div>
</div>