<%= link_to 'Escolas', schools_path, class: 'dropdown-item' %>
<%= link_to 'Alunos', students_path, class: 'dropdown-item' %>
<%= link_to 'Disciplinas', subjects_path, class: 'dropdown-item' %>
<%= link_to 'Professores', teachers_path, class: 'dropdown-item ' %>
<%= link_to 'Séries', series_path, class: 'dropdown-item' %>



<div class="dropdown-divider"></div>
<%= link_to 'Ano Letivo', years_path, class: 'dropdown-item' %>
