<%= link_to 'Calendário Letivo', events_path, class: 'dropdown-item' %>
<%= link_to 'Criar Turmas', turmas_path, class: 'dropdown-item' %>
<div class="dropdown-divider"></div>
<%= link_to 'Matricular Alunos', matriculas_path, class: 'dropdown-item' %>
<%= link_to 'Mudar Aluno de Turmas', mudar_turma_path, class: 'dropdown-item' %>
<%= link_to 'Tranferir Aluno', matriculas_path, class: 'dropdown-item' %>